body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #86baf7;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}
@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


/* Text */

#text_holder {
  color: #fff;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.45px;
  left: 25px;
  top: 20px;
  width: 300px;
}
#h1 span{
  display: block;
}
#bg2{
  transform: translateX(100%);
}
#endframeBg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 600px;
  width: 100%;
  background: #FFFFFF;
  transform: translateX(100%);
}


#blueBottomCard {
  background-color: #0000aa;
  width: 300px;
  height: 65px;
  left: 0px;
  top: 192px;
}

#logo {
  width: 56px;
  height: auto;
  right: 13.7px;
  top: 211px;
  position: absolute;
  z-index: 11;
}

#cta {
  width: 86px;
  height: 23px;
  bottom: 32px;
  left: 195px;
  background-color: #fff;
  border-radius: 4px;
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  font-size: 9.3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms{
  color: #fff;
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 8px;
  line-height: 7px;
  letter-spacing: -0.02em;
  left: 14px;
  width: 250px;
  bottom: 10px;
  z-index: 11;
}
.window{
  width: 300px;
  height: 250px;
}